body {
    margin: 0;
    background-color: black;
}

.main {
    padding: 3rem;
    text-align: center;
}

.main h1 {
    color: white;
}
.main canvas {
    display: block;
    margin: 0 auto;
}
span {
    font-family: 'Press Start 2P';
}